#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.boardWrapper{
  display: flex;
  /* border: white solid 1px; */
}

.board{
  /* border: cyan solid 1px; */
  margin: 10px;
}